@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: #fdfdff;
  display: flex;
  font-family: "Roboto", sans-serif !important;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.Body {
  width: 100%;
  height: 100vh;
}

.containerPage {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Toastify__toast--success {
  border-left: 5px solid #8829e3;

  .Toastify__progress-bar--success {
    background: #8829e3;
  }

  .Toastify__toast-icon {

      svg {
        fill: #8829e3;
      }
  }
}

.Toastify__toast--warning {
  width: 380px;
  border-left: 5px solid #FFA500;

  .Toastify__progress-bar--warning {
    background: #FFA500;
  }

  .Toastify__toast-icon {
    svg {
      fill: #FFA500;
    }
  }
}