.ButtonDynamic {
    background: linear-gradient(135deg, rgba(138,42,227,1) 0%, rgba(104,24,233,1) 75%, rgba(60,1,243,1) 100%);
    border-radius: 25px !important;
    margin-top: 32px !important;
    color: #ffffff !important;
    font-weight: bold !important;
}